body {
    background-color:lightblue;
    font-size: 20px;
    font-style: sans-serif;
    max-width: 960px;
    font-family: "Times New Roman", Times, serif;
}
header, footer {
    background-color: black;
    font-size: 16px;
    color: white;
    font-family: "Times New Roman", Times, serif;
    margin: auto;
    display: flex;
    align-items: center;
}

social {
    position: relative;
    left:800px;

}
p {
    background-color: blue;
    color: white;
}

.social img{
    width: 25px;height:auto;
}